@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-size: 17px;
  color: #0a0a0a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  letter-spacing: 0.0125em;
}

body, html {
  width: 100vw;
  max-width: 100vw;
  overflow-x: clip;
}

input, select, textarea {
  color: #0a0a0a;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

label, input, select, textarea {
  display: block;
}

legend, label {
  font-family: 'Prompt', 'Oxygen', sans-serif;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  input, select, textarea {
    padding: 16px;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 20px;
  }
}
